@model AcunMedyaPortfolyoProject.Models.TableContact
@{
    ViewBag.Title = "UpdateContact";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Burası Contact Güncelleme Sayfası</h2>
<form method="post">
    @Html.HiddenFor(a => a.ContactID)
    <label>Açıklama</label>
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <label>Adres</label>
    @Html.TextBoxFor(x => x.Adress, new { @class = "form-control" })
    <label>Mail</label>
    @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
    <label>Telefon</label>
    @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
    <button type="submit">Güncelle</button>
</form>

